@charset "UTF-8";

/*DropMenu*/
.dropbtn {
	color: black;
	font-size: 12px;
	border: none;
	cursor: pointer;
	margin-top: 18px;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding-right: 1%;
	width: 50%;
	text-align: right;
}

.dropdown-menu {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: left;
	 border: 2px solid RGB(220,220,220);
	 margin-right: 12px;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown:hover .dropbtn {
	color: blue;
	background-color: gainsboro;
}
/*Css*/
.container-Header { background-color:rgb(242, 242, 242);

}

.container-Header .row {
	display: flex;
	justify-content: space-between;
	height:62px;
}

.logocms {
	padding-left: 0.5%;
	width: 50%;
}

h1.cms {
    font-size: 26px;
    margin-top: 18px;
    color: gray;
    margin-left: 12px;
}
h1.people {
    font-size: 20px;
    margin-bottom: 21px;
}
.dropdown-menu a i {
	margin-right: 10px;
}